body{
    overflow-x: hidden;
}

.container.navbar {
    --bs-navbar-padding-y: 0;
}

.container {
    max-width: 1500px;
}

.live {
    color: red;
}

.news{
    background-color: #fff;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: black;
}

h2, h3, h4 {
    font-family: 'Helvetica', sans-serif;
}

ul {
    list-style: none;
}

main {
    margin-top: 0;
    padding-top: 0;
}

section {
    margin-top: 0;
    padding-top: 0;
}

footer, header {
    background-color: #26852F;
    font-family: 'Roboto Mono', monospace;
}

.bordfoot{
    background-color: #1A5B20;
    padding: 20px ;
}

footer h3 {
    margin-bottom: 20px;
}

article {
    overflow: hidden;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 15px;
}

.article-content{
    width: 800px;
    margin: 0 auto;
}

.titre {
    font-family: 'Helvetica', sans-serif;
    font-size: 85px;
    line-height: 1.2;
}

.logo{
    width: 100px;
    border-radius: 50%;
}

.div-titre {
    padding: 20px;
}

.seconnav {
    padding: 10px;
}

.btn1 {
    color: black;
    font-size: 0.8rem;
    cursor: pointer;
    padding: 10px;
    font-weight: lighter;
}

.btn2 {
    border: none;
    font-size: 20px;
    font-weight: 500;
    width: 250px;
    height: 40px;
    background: #000;
    color: white;
}

.btn3{
    border: none;
    font-size: 15px;
    font-weight: 500;
    width: 100px;
    height: 40px;
    background: #000;
    color: white;
    margin-left: 15px;
}

.art{
    font-family: 'Helvetica', sans-serif;
    font-size: 50px;
    padding: 20px;
}

#Search {
    border: none;
    font-size: 15px;
    font-weight: 500;
    width: 250px;
    height: 40px;
    background: #fff;
    color: black;
    padding: 10px;
}



.app,.play{
    border: none;
    font-size: 20px;
    font-weight: 500;
    width: 250px;
    height: 40px;
    background: #000;
    color: white;
}

.allana{
    object-fit: cover;
    height: 100%;
    width: 50%;
}

.firstnav li a {
    font-size: 15px;
}

.thirdnav li a {
    font-size: 14px;
}

.thirdnav {
    border-bottom: 1px solid #044220;
}

.fourthnav {
    padding: 15px 0;
}

.separador::before {
    content: "|";
    color: rgb(223, 50, 50);
    margin-right: 16px;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

.red {
    color: red;
}

.com {
    color: #1A5B20;
    font-weight: bold;
    font-size: 13px;
    font-family: 'Times New Roman', serif;
}

.descrip, .para{
    font-family: 'Times New Roman', serif;
}

.para{
    padding: 20px;
}

.ecole,.coulor{
    margin-top: 10px;
}

.exclu {
    padding-bottom: 10px;
}

.gral, .ana, .ultimo, .edi, .observ {
    padding-top: 20px;
}

.edi{
    color: #1A5B20;
}

.liste li {
    margin-bottom: 15px;
    }

.ultimo{
    margin-bottom: 15px;
}

aside.home {
    border-left: 1px solid #e0e0e0;
    padding-left: 15px;
}

.calendar {
    margin-right: 250px;
    width: 150px;
    font-size: 25px;
}

.ville{
    margin-left: 200px;
}

.datej{
    text-align: center;
    background-color: #27a134;
}

.principal{
    padding: 30px;
}

.principal p,h5{
    padding: 10px;
}

/* .custom-page {
    width: 100%;
    font-size: 0;
    margin-top: 20px;
} */

.lat1,
.principal,
.lat2 {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
}

.lat1,
.lat2 {
    width: 25%;
}

.principal {
    width: 50%;
    padding: 30px;
}

.lat1 div, .lat2 div {
    width: 100%;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
    
}

.lat1 label{
    width: 150px;
    font-weight: bold;
}

.lat2 label {
    width: 130px;
    font-weight: bold;
}

.btnrest{
    border: none;
    font-size: 15px;
    font-weight: 500;
    width: 80px;
    height: 40px;
    background: #000;
    color: white;
    margin-top: 30px;
    
}

.bloc3{
    margin-top: 10px;
}

.bloc3Art{
    background: #f5f2f2;
    margin-bottom: 20px;
}

.bloc3Cadr{
    margin: 30px;
}

.blocOil{
    margin-top: 20px;
}

.wid1, .wid2 {
    background: #f5f2f2;
    margin-top: 20px;
    padding: 10px;
}


